.stats-card {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    border-radius: 30px;
    padding: 14px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    min-width: 250px;
    height: auto;

    h3 {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 15px;
        align-self: self-start;
    }

    p {
        font-size: 50px;
        text-align: left;
    }

    img {
        width: 100px;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
}