* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  background: #383838;
}

section div {
  font-size: 24px;
  font-weight: bold;
}