* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #383838;
  height: 100vh;
}

/* Separação de header e main */
.App {
  display: grid;
  grid-template-rows: 20% 80%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: white;
  }
}

/* Separação de câmera e cards */
main {
  display: grid;
  grid-template-columns: 3fr 3fr;
  height: auto;
}

.stats {
  display: grid;
  grid-template-rows: 1fr 3fr;
  padding: 0 15px;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.metrics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.cam {
  display: flex;
  justify-content: center;
}

.webcam {
  /* height: 100%; */
}


@media (max-width: 1024px) {
  .App {
    grid-template-rows: 5% 95%;
  }

  main {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 20px;
  }

  .stats {
    order: 2;
  }
}